@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Poppins:ital@1&display=swap');

:root { 
    --primary-color: #114B5F; 
    --secondary-color: #A06CD5;  
    --accent1-color: #231123; 
    --accent2-color: #F2F2F2;
  
    --heading-font: Montserrat; 
    --paragraph-font: Poppins; 
  
    --nav-background-color: #114B5F; 
    --nav-link-color: #F2F2F2;
    --nav-hover-link-color: #A06CD5;
    --nav-hover-background-color: #231123;
}

header { 
    margin: 1rem auto; 
    display: grid; 
    grid-template-columns: 300px 1fr;  
    border-bottom: 1px solid #231123; 
    font-family: var(--heading-font);
} 

nav {
    padding: 1rem; 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
}

nav a { 
    text-decoration: none;
}

nav a:hover {
    color: tomato; 
    font-weight: 700; 
    text-decoration: underline;
}

body { 
    width: 900px;
    margin: 0 auto; 
    font-family: var(--paragraph-font);
}

p { 
    padding: 5px;
} 

.hero {
    margin: 10px auto;
    position: relative; 
} 

.hero img { 
    max-width: 100%; 
    height: auto; 
} 

h1 { 
    display: block;
    position: absolute; 
    top: 15px;
    color: white; 
    left: 0; 
    right: 0; 
    text-align: center;
} 

article { 
    position: absolute;
    top: 75px;
    padding: 10px;
    color: white;
    background: rgba(69, 103, 170,0.6);
    margin: 10px;
} 

.hero article img { 
    float: right;
    width: 100px;
}

h2 { 
    text-align: center;
}

.adventure { 
    display: flex; 
    justify-content: space-evenly;
}

figure { 
    border: thin #c0c0c0 solid; 
    display: flex; 
    flex-flow: column; 
    padding: 5px; 
    max-width: 250px; 
    margin: auto;
}

figure img { 
    max-width: 200px; 
    max-height: 100px;
}

figcaption { 
    background-color: #222; 
    color: #fff; 
    padding: 3px; 
    text-align: center;
}

.sociallinks { 
    display: flex;
    justify-content: space-between;
}

footer img { 
    max-width: 20%; 
    height: auto; 
} 

form { 
    width: 650px; 
    margin: 0 auto; 
    padding: 1rem; 
    border: 1px solid rgba(0, 0, 0, 0.1); 
    border-radius: 0.5rem; 
    background-color: #eee; 
    display: grid;
} 

fieldset { 
    display: grid; 
    grid-gap: 3rem; 
    margin: 1rem; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
} 

legend { 
    padding: 0.5rem; 
    color: navy; 
    font-size: 1.3em; 
} 

label { 
    text-align: left; 
    padding-right: 1rem; 
} 

input, select { 
    padding: 0.5rem; 
    font-size: 1.1rem; 
} 

textarea { 
    padding: 0.5rem; 
    font-size: 1rem; 
    height: auto; 
    width: auto;
} 

button { 
    margin: 1rem; 
    background-color: navy; 
    color: #fff; 
    border: none; 
    border-radius: .5rem; 
    padding: .75rem; 
    font-size: 1.2rem; 
} 

button:hover { 
    background: darkgreen; 
}

.form-item { 
    display: grid; 
    align-items: center; 
} 

.column1 { 
    grid-template-columns: 3fr 1fr; 
    margin: 0.5rem 0; 
} 

.column2 { 
    grid-template-columns: 1fr 2fr;
}
