@import url(https://fonts.google.com/specimen/Montserrat); 

header { 
    margin: 1rem auto; 
    display: grid; 
    grid-template-columns: 120px 1fr 2fr; 
    align-items: center; 
    border-bottom: 1px solid #231123; 
    max-width: 1000px;
} 

body { 
    width: 1200px;
    margin: 0 auto;
}

p { 
    padding: 25px;
} 

.hero {
    position: relative; 
} 

.hero img { 
    display: block; 
    max-width: 100%; 
    height: auto;
} 

h1 { 
    position: absolute; 
    top: 10px;
} 

article { 
    position: absolute;
    top: 10px;
} 

article img { 
    float: right;
    width: 100px;
}

footer { 
    display: flex; 
    justify-content: space-around;    
}